*{
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width:280px;
  height: 200px;
  margin-left: -90px;
}

.nav-link{
  flex: 1;
  text-align: right;
}

.nav-link ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 17px;
  position: relative;
}

.nav-link ul li a{
  color: white;
  text-decoration: none;
  font-size: 13px

}
.nav-link ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

#img5{
  filter:grayscale(100%);
}
#img5:hover{
  filter:none;
}

a{
  text-decoration:none;
}

.nav-link ul li:hover::after{
  width: 100%
}

.header3{
  height: 190vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/i8.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}



h1{
  font-size: 36px;
  font-weight: 600;

}

p{
  color: black;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;

}

.main{
  max-width: 1000px;
  margin: 200px;
  align-content: center;
}



img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}



.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  grid-gap:250px;
}

.cards_item1 {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item1 {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item1 {
    width: 33.3333%;
  }
}

.card1 {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
}

.card_content1 {
  padding: 2rem;
  background: linear-gradient(to bottom, #6699ff 40%, #66ff66 100%);
}

.card_title1 {
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text1 {
  color: white;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  font-weight: 500;
  text-decoration: none;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}



.p-text{
  width: 90%;
  position:absolute;
  top: 20%;
  left:50%;
  text-align: center;
  color: white;
  transform: translate(-50%,50%);
}

.p-text h1{
  font-size: 64px;
  color: white;
}

.p-text p{
  font-size: 20px;
  margin: 10px 0 40px;
  color: white;
}

.card1:hover{
  z-index:9;
  transform:scale(1.2);
  transition:transform ease 0.5s;
}
